body {
	margin: 0;
	text-align: center;
	font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
	display: inline-block;
	border: 5px;
	min-height: 30px;
	background-color: cyan;
	color: black;
	border-radius: 12px;
}

button:hover {
	background-color: white;
	color: black;
}

button:focus {
	background-color: white;
	border-color: red;
}

table,
th,
td,
thead,
tfoot {
	border: 5px solid rgb(179, 0, 255);
	border-collapse: collapse;
	empty-cells: show;
	margin: auto;
	gap: 5px;
	background-color: black;
}

article {
	margin-top: 21px;
	padding: 30px 10px;

}

/* element id's */

#topnav {
	overflow: hidden;
	padding: 30px 10px;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}

/* here we are starting to define classes */


.dark-light {
	background-color: rgb(44, 47, 51);
	color: white;
}

.dark-dark {
	background-color: rgb(35, 39, 42);
	color: white;
}

.topnav {

	padding: 30px;
	max-height: 50px;
	overflow: hidden;
	text-align: center;
	/* border-radius: 5px;
	border-color: #ffffff; */
}

.topnav button {
	/* float: left; */
	/* display: block; */
	text-align: center;
	padding: 14px 16px;
	color: #000000;

	margin-left: 5px;
	margin-top: 5px;
}

.topnav button.active {
	background-color: white;
	color: black;
}

.footer {
	margin-bottom: 0;
	position: relative;
	left: 0;
	bottom: 0;
	max-height: 100px;
	min-height: 60px;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.footer a {
	align-items: center;
	vertical-align: middle;
	bottom: 10px;
	color: rgb(110, 112, 132);
}

.footer a:hover {
	text-decoration: none;
}

.footer a:visited {
	color: rgb(110, 112, 132);
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
}